<div class="container">
  <div class="row mt-5">
    <div class="col-xs-12 col-sm-6">
      <h1>List of Cocktails</h1>

      <ul class="list-group">
        <% @cocktails.each do |cocktail| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= link_to cocktail.name, cocktail_path(cocktail)  %>

          <span class="badge badge-primary badge-pill">
            <%= link_to " - Delete", cocktail_path(cocktail), method: :delete %>
          </span>

        </li>
        <% end %>
      </ul>

      <br/>
      <%= link_to "Add cocktail", new_cocktail_path %>
    </div>
  </div>
</div>

<!--
<div class="conatiner">
  <div class="card-deck">
    <div class="card">
        <ul class="list-group card-body rounded">
          <h1>List of Cocktails</h1>

              <% @cocktails.each do |cocktail| %>
            <li class="card-img-top">
                <%= image_tag "#{cocktail.photo}", alt: "#{cocktail.name}", width: 200 %>
            </li>

                <p class="card-title" >
                  <%= link_to cocktail.name, cocktail_path(cocktail) %>
                </p>

                <p class="card-text">
                  <%= link_to cocktail.ingredients.name, cocktail_path(cocktail) %>
                </p>

                <p class="card-text">
                  <small class="text-muted"><%= link_to " - Delete", cocktail_path(cocktail), method: :delete %></small>
                </p>
              <% end %>
        </ul>
      </div>

    </div>
    <br/>
      <%= link_to "Add cocktail", new_cocktail_path %>
</div> -->
