<div class="home-banner">
  <h1>Welcome to <strong>Mister Cocktail</strong></h1>

    <p>
      <span id="banner-typed-text"></span>
    </p>

<div class="card-group">
  <div class="cards">
    <%= cl_image_tag("krzwfxwbwgvmgwvdhisd.jpg") %>
    <div class="card-body">

      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail.name, cocktail_path(cocktail), class: "card-title" %>

        <ul>
          <li>
            <%= link_to cocktail.ingredient, cocktail_path(cocktail), class: "card-text" %>
          </li>
        </ul>

        <button class="btn btn-primary rounded align-item-right card-text"><small>
          <%= link_to " - Delete", cocktail_path(cocktail), method: :delete %></button></small>
      <% end %>
    </div>



  </div>

</div>

      <br/>
      <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-primary btn-lg", id: "adding" %>
</div>

