<div class="container ">

  <div class="row mt-5">
    <h1>Cocktails New</h1>
  </div>

  <div class="col-xs-12 col-md-8">
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name, label: false, placeholder: "Name of cocktail" %>

      <%= f.input :photo, as: :file %>

      <%= link_to "Back to list", cocktails_path, class: "btn btn-outline-secondary" %>
      <%= f.submit "Add cocktail", class: "btn btn-primary", id: "adding" %>
    <% end %>
  </div>


</div>
