<div class="container mt-5">
  <h1><%= @cocktail.name %></h1>

  <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>

  <!-- <p>
    <%= image_tag "#{@cocktail.photo}", alt: "#{@cocktail.name}", width: 300 %>
  </p> -->

  <ul class="list-group list-group-flush">
    <% @cocktail.doses.each do |dose| %>
    <li class="unstyled">
      <%= "#{dose.description} - #{Ingredient.find(dose.ingredient_id).name}" %>
      <%= link_to " delete ingredient", cocktail_dose_path(@cocktail, dose), method: :delete, class: "btn-sm btn-outline-secondary" %>
    </li>
    <% end %>
  </ul>

  <p class="mt-2" >
    <%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail), class: "btn btn-pramary", id: "adding" %>
  </p>

  <p class="mt-2" >
    <%= link_to "Back to cocktails list", cocktails_path, class: "btn btn-outline-secondary"%>
  </p>

</div>
